body
{
    background-color: black;
    color: seagreen;
    font-family: Lobster;
    font-size: 28px;
}

a:link      {color: seagreen;   text-decoration: none;}
a:visited   {color: seagreen;}
a:active    {color: seagreen;}
a:hover     {color: darkgoldenrod;}

h1
{
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
}

p
{
    text-align: center;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.board
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.board2
{
    width: 200px;
    height: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card
{
    width: 125px;
    height: 125px;
    display: inline-block;
    margin: 3px;
    background-image: url("img/karta.png");
    border: 4px solid seagreen;
    border-radius: 4px;
    cursor: pointer;
    filter: brightness(70%);
    transition: all .3s ease-in-out;
}

.card:hover 
{
    border: 4px solid darkgoldenrod;
    filter: brightness(100%);
}

.cardA
{
    width: 125px;
    height: 125px;
    display: inline-block;
    margin: 3px;
    background-image: url("img/karta.png");
    border: 4px solid darkgoldenrod;
    border-radius: 4px;
    cursor: default;
    filter: brightness(100%);
    transition: all .3s ease-in-out;
}

.score
{
    margin-top: 5px;
    letter-spacing: 2px;
}

.button
{
    background-color: black;
    color: seagreen;
    border: 4px solid seagreen;
    filter: brightness(70%);
    margin-top: 50px;
    letter-spacing: 2px;
    width: 160px;
    height: 112px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: solid;
    font-size: 30px;
    font-weight: 300;
    text-size-adjust: 30px;
    font-family: Lobster;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover
{
    filter: brightness(100%);
    color: darkgoldenrod;
    border: 4px solid darkgoldenrod;
}

.big_button
{
    background-color: black;
    color: seagreen;
    border: 7px solid seagreen;
    filter: brightness(70%);
    margin-top: 75px;
    letter-spacing: 2px;
    width: 250px;
    height: 160px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: solid;
    font-size: 32px;
    font-weight: 400;
    font-family: Lobster;
    transition: all .3s ease-in-out;
    cursor: pointer;
    border-radius: 30px;
    line-height: 40px;
}

.big_button:hover
{
    filter: brightness(100%);
    color: darkgoldenrod;
    border: 4px solid darkgoldenrod;
}


.win
{
    text-align: center;
    letter-spacing: 2px;
    line-height: 40px;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    text-decoration-color: darkgoldenrod;
}