.card{
    width: 125px;
    height: 125px;
    display: inline-block;
    margin: 5px;
    border: 4px solid #1b6249;
    /* border: 4px solid rgb(39 33 1); */
    border-radius: 4px;
    cursor: pointer;
    filter: brightness(70%) sepia(5%);
    transition: all .3s ease-in-out;
    margin-left: 5px;
    margin-right: 5px;
    /* animation: appear 1s ease-out forwards; */
}

.card:hover{
    border: 4px solid darkgoldenrod;
    filter: brightness(90%);
    -webkit-transform: scale(0.95) !important;
    -ms-transform: scale(0.95) !important;
    transform: scale(0.95) !important;
}

.card.revealed
{
    /* transform: scale(1) rotateY(180deg) perspective(100px); */    
    transition: .4s;
    border: 4px solid darkgoldenrod;
    cursor: default;
    filter: brightness(100%);    
    
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    
}

/* .card.revealed::before {
    animation: rotate-card 2s ease-out after;
} */
   
.card.finished
{
    filter: grayscale(100%) brightness(70%);    
}

.card.finished:hover
{
    cursor: default;
    border: 4px solid #585756;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: scale(1) rotateY(0);
}

.grid-img{
    transform: scale(1) rotateY(0) perspective(100px);
}


@keyframes appear{
    from {
        transform: scaleX(0) scaleY(0);
    }

    to {
        transform: scaleX(1rem) scaleY(1rem);
    }
}

.rotate-card {
    animation: rotate-card 600ms ease-in-out;
    /* transform: rotateY(180deg); */
}

@keyframes rotate-card{
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}